@if (post$ | async; as post){
<div class="max-w-3xl mx-auto">
  <h1 class="text-3xl font-semibold mb-4">{{ post.title }}</h1>
  <img src="img.jpg" [alt]="post.slug" class="w-full min-h-96" />
  @if (post.subtitle) {
  <h3 class="text-lg text-gray-500">
    {{ post.subtitle }}
  </h3>
  } @if (post.tags.length) {
  <app-tag-list [tags]="post.tags" className="my-4"></app-tag-list>
  }
  <p [innerHTML]="post.body"></p>
  <app-comment-form
    (onCommentCreate)="onCommentCreate($event)"
    className="mb-4"
  ></app-comment-form>
  <app-comment-list [comments]="post.comments"></app-comment-list>
</div>
}
