@import "tailwindcss";

@theme {
  --color-primary: #990011;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}
